# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.env
.DS_Store

# VSCode
.vscode/

# OS / Editor backups
*.swp
*.swo
*~

# Streamlit cache
.streamlit/

# Node.js
node_modules/

# Virtual environment
.venv/

# Environment variables file
.env